div.product-wrapper
	div.product-container
		div.border
		div.background
		div.body 
			h4 Сказочное заморское яство
			h2 Нямушка
			h3 с фуа-гра
			h5 <strong>10</strong> порций <br/>
				<strong></strong> мышь в подарок
			p.price 0,5<br>
				span кг
	p.desc Чего сидишь? Порадуй котэ, <span class="buy-cta">купи</span>.
div.product-wrapper
	div.product-container
		div.border
		div.background
		div.body 
			h4 Сказочное заморское яство
			h2 Нямушка
			h3 с фуа-гра
			h5 <strong>10</strong> порций <br/>
				<strong>2</strong> мыши в подарок
			p.price 2<br>
				span кг
	p.desc Чего сидишь? Порадуй котэ, <span class="buy-cta">купи</span>.
div.product-wrapper.product-disabled
	div.product-container
		div.border
		div.background
		div.body 
			h4 Сказочное заморское яство
			h2 Нямушка
			h3 с фуа-гра
			h5 <strong>10</strong> порций <br/>
				<strong></strong> мышь в подарок
			p.price 100500<br>
				span г
	p.desc Чего сидишь? Порадуй котэ, <span class="buy-cta">купи</span>.
