div.product-container
	div.border
	div.background
	div.body Целью исследования проростков гречки было предоставить более подробную информацию о питательных свойствах проросших зерен гречки. В настоящее время повышено внимание к гречке как полноценному источнику питания. В частности Корея ведет серьезные исследования в этой области. Гречку проращивали при температуре 25 С в течение 3 дней (можно ознакомиться подробно о том, как проращивать зеленую гречку). Были рассмотрены состав сухого зерна и проросшего зерна гречихи, ее белков, жиров, флавоноидов.
